body {
  background-color: #379683;
  color: #000;
  font-family: "Kumbh Sans", sans-serif;
}

body img{
  padding: 40px;
}

.container-fluid{
  text-align: center;
}



.section {
  padding-top: 100px;
}
